* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: "Arial";
    background: url(../img/patinhas.jpg);
}


.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.current-item {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.adocao {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header {
    background: #660066;
    padding: 5px 0;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: #660066;
    margin: 0;
    cursor: pointer;
}

.nav-button i {
    color: aliceblue;
}

.overLay {
    width: 0%;
    height: 100%;
    background-color: rgba(133, 80, 133, 0.9);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overLay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overLay a {
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    display: block;
    transition: 0.3s;
}

.overLay a:hover,
.overLay a:focus {
    color: #2b0c2b;
}

.overLay .closeBtn {
    position: absolute;
    font-size: 60px;
}

.logo {
    padding: 10px;
}

h1 {
    text-align: center;
    color: #2b0c2b;
    font-size: 1.4cm;
}

#titulos {
    background-color: #a879a8;
    font-size: 0.5cm;
}

th,
td {
    border: 2px solid #2b0e2b;
}

table {
    background-color: white;
    border-collapse: collapse;
    border: 2px solid #2b0e2b;
    border-radius: 5px;
    margin: auto;
    color: #2b0e2b;
    margin-bottom: 50px;
}

th,
td {
    padding: 30px;
    text-align: center;
    width: 250px;
}

th {
    font-weight: bold;
}

form {
    background-color: white;
    margin: 0 auto;
    width: 900px;
    padding: 2em;
    border: 2px solid #2b0e2b;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.divForm {
    margin-left: 120px;
}

label {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    color: #2b0c2b;
    margin: 0 0 20px;
    width: 250px;
    font-size: 0.5cm;
}

.prod {
    margin-left: 10px;
}

input,
textarea {
    width: 200px;
    border: 1px solid #2b0c2b;
}

textarea {
    vertical-align: top;
    height: 10em;
}

select {
    font-size: 0.5cm;
    margin-top: 1em;
    margin-bottom: 1em;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25 px;
    width: 85%;
    font-size: 0.5cm;
}

.Enviar {
    width: 50%;
    padding: 15px 0;
    background: #a879a8;
    color: #2b0c2b;
    font-weight: bold;
    border: 1px solid #2b0c2b;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.btn {
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.btn2 {
    display: flex;
    text-align: center;
    align-items: center; 
    padding-bottom: 10px;
}

.Invalid {
    background: lightcoral;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 18;
}

.fadeOut {
    opacity: 0;
    transition: 3s;
}

.filtrar-tabela {
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
}

.filtro {
    margin-left: 325px;
    color: #2b0c2b;
    font-weight: bold;
    font-size: 1em;
}

.invisivel {
    display: none;
}

footer {
    text-align: center;
    background: #660066;
    padding: 5px 0;
    color: whitesmoke
}

#cat-picture {
    display: grid;
    grid-template-columns: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -10px #2b0c2b;
    border: 1px solid #2b0c2b;
    overflow: hidden;
    margin-bottom: 2rem;
}

.imagem_gato {
    display: inline-block;
    background-color: silver;
    width: 100%;
    height: auto;
}

.trocar {
    width: 50%;
    padding: 15px 0;
    background: #a879a8;
    color: #2b0c2b;
    font-weight: bold;
    border: 1px solid #2b0c2b;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 250ms ease-out;
    opacity: 0.8;
    width: 500px;
}

.trocar:hover,
.trocar:focus {
    transform: translatey(-1px);
    box-shadow: 0 12px 20px -10px #2b0c2b;
    opacity: 1;
}

.trocar:active {
    transform: translatey(2px);
    box-shadow: 0 2px 2px 0 #2b0c2b;
}

/* .footer2{
    bottom: 0;
    position: fixed; 
    width: 100%;
    text-align: center;
} */